{% extends "base.html" %}
{% block main %}

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Live map view</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            Now (live)
          </button>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-9 col-lg-12">
          <div class="main-card mb-3 card">
            <div class="card-body">
              <h5 class="card-title">Change Log</h5>
                <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div> <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-dot badge-dot-xl badge-success"></i> </span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Version 1.0</h4>
                          <p>original application 2012</p> <span class="vertical-timeline-element-date">2012-08-12<br />0930</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
