<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_03e5208439aa4d9fa2c4cb304e120b92 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_03e5208439aa4d9fa2c4cb304e120b92" ></div>
        
</body>
<script>    
    
            var map_03e5208439aa4d9fa2c4cb304e120b92 = L.map(
                "map_03e5208439aa4d9fa2c4cb304e120b92",
                {
                    center: [51.502124, -0.117457],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1a84955cac0646d9afd8ad774007e3a8 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var marker_e2f5e23ccfbb4a2993bccbf5fd3b0ac9 = L.marker(
                [51.5032, -0.12691],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_9c9e089841644e8c9e8d2b20562c591c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e2f5e23ccfbb4a2993bccbf5fd3b0ac9.setIcon(icon_9c9e089841644e8c9e8d2b20562c591c);
        
    
        var popup_73199f4f3824416fbfb446ac48339e02 = L.popup({"maxWidth": 200});

        
            var html_b891371eb1ef405db335d496972c617d = $(`<div id="html_b891371eb1ef405db335d496972c617d" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_73199f4f3824416fbfb446ac48339e02.setContent(html_b891371eb1ef405db335d496972c617d);
        

        marker_e2f5e23ccfbb4a2993bccbf5fd3b0ac9.bindPopup(popup_73199f4f3824416fbfb446ac48339e02)
        ;

        
    
    
            marker_e2f5e23ccfbb4a2993bccbf5fd3b0ac9.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c6bc03c5829a4922ba87b593711fd332 = L.marker(
                [51.50222, -0.12752],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_50a333f9479b49db8ae148a8e2b2c469 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c6bc03c5829a4922ba87b593711fd332.setIcon(icon_50a333f9479b49db8ae148a8e2b2c469);
        
    
        var popup_8d9c8227d7af42d5a8e6db626e776305 = L.popup({"maxWidth": 200});

        
            var html_4139c05f3060480f87c634a687779663 = $(`<div id="html_4139c05f3060480f87c634a687779663" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_8d9c8227d7af42d5a8e6db626e776305.setContent(html_4139c05f3060480f87c634a687779663);
        

        marker_c6bc03c5829a4922ba87b593711fd332.bindPopup(popup_8d9c8227d7af42d5a8e6db626e776305)
        ;

        
    
    
            marker_c6bc03c5829a4922ba87b593711fd332.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cece8da721fd491a98bdc39e10360fdc = L.marker(
                [51.50172, -0.12615],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_d6ae5c6e620e4df78d02dcf6b97b4cb5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cece8da721fd491a98bdc39e10360fdc.setIcon(icon_d6ae5c6e620e4df78d02dcf6b97b4cb5);
        
    
        var popup_49fe9247364c41ffa76854f501980324 = L.popup({"maxWidth": 200});

        
            var html_62b8124e004348f1998b299233b32734 = $(`<div id="html_62b8124e004348f1998b299233b32734" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_49fe9247364c41ffa76854f501980324.setContent(html_62b8124e004348f1998b299233b32734);
        

        marker_cece8da721fd491a98bdc39e10360fdc.bindPopup(popup_49fe9247364c41ffa76854f501980324)
        ;

        
    
    
            marker_cece8da721fd491a98bdc39e10360fdc.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5e0ef8f4ea08488db3101fd675f0818e = L.marker(
                [51.500958, -0.124205],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_3450c5b6d6c14f97b26089cd7a4077e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fighter-jet", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5e0ef8f4ea08488db3101fd675f0818e.setIcon(icon_3450c5b6d6c14f97b26089cd7a4077e1);
        
    
        var popup_304496ba3a59442a8d6a71bebc94e6a2 = L.popup({"maxWidth": 200});

        
            var html_4edadb2fa82f43ea8bcce8b69bb6467c = $(`<div id="html_4edadb2fa82f43ea8bcce8b69bb6467c" style="width: 100.0%; height: 100.0%;"><strong>Friendly jet</strong><br />Type: Typhoon FGR4</div>`)[0];
            popup_304496ba3a59442a8d6a71bebc94e6a2.setContent(html_4edadb2fa82f43ea8bcce8b69bb6467c);
        

        marker_5e0ef8f4ea08488db3101fd675f0818e.bindPopup(popup_304496ba3a59442a8d6a71bebc94e6a2)
        ;

        
    
    
            marker_5e0ef8f4ea08488db3101fd675f0818e.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e937da45a5cf4859aff29e04d8e4d531 = L.marker(
                [51.506698, -0.122803],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_fd25ed40b5d845f5ae7e2de4a25274e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fighter-jet", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e937da45a5cf4859aff29e04d8e4d531.setIcon(icon_fd25ed40b5d845f5ae7e2de4a25274e3);
        
    
        var popup_65f5a96c4ca54e9f8d500f631bfe55ac = L.popup({"maxWidth": 200});

        
            var html_29685764bf6444a8bbef4c6d7c4f9266 = $(`<div id="html_29685764bf6444a8bbef4c6d7c4f9266" style="width: 100.0%; height: 100.0%;"><strong>Friendly jet</strong><br />Type: Typhoon FGR4</div>`)[0];
            popup_65f5a96c4ca54e9f8d500f631bfe55ac.setContent(html_29685764bf6444a8bbef4c6d7c4f9266);
        

        marker_e937da45a5cf4859aff29e04d8e4d531.bindPopup(popup_65f5a96c4ca54e9f8d500f631bfe55ac)
        ;

        
    
    
            marker_e937da45a5cf4859aff29e04d8e4d531.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_da6198c4b308424a971cdfa4b7793404 = L.marker(
                [51.50325, -0.1334],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_3147e1ede1ba439d97808e09927e9863 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "users", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_da6198c4b308424a971cdfa4b7793404.setIcon(icon_3147e1ede1ba439d97808e09927e9863);
        
    
        var popup_4f0cbce77bb746d7b4e12df027219772 = L.popup({"maxWidth": 200});

        
            var html_7b1a83e4624c440b952cecf14bbc38f3 = $(`<div id="html_7b1a83e4624c440b952cecf14bbc38f3" style="width: 100.0%; height: 100.0%;"><strong>Friendly troops</strong><br />Type: Light infantry</div>`)[0];
            popup_4f0cbce77bb746d7b4e12df027219772.setContent(html_7b1a83e4624c440b952cecf14bbc38f3);
        

        marker_da6198c4b308424a971cdfa4b7793404.bindPopup(popup_4f0cbce77bb746d7b4e12df027219772)
        ;

        
    
    
            marker_da6198c4b308424a971cdfa4b7793404.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_44918d84cbbf436c8dee9256a8556643 = L.marker(
                [51.500627, -0.12684],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_0deb8f1a38e440a68ec2ab9244ca1cf8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "users", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_44918d84cbbf436c8dee9256a8556643.setIcon(icon_0deb8f1a38e440a68ec2ab9244ca1cf8);
        
    
        var popup_762ae53f50714133bae31c9177e6be17 = L.popup({"maxWidth": 200});

        
            var html_7705024fe8c44f138a86535729f1e47b = $(`<div id="html_7705024fe8c44f138a86535729f1e47b" style="width: 100.0%; height: 100.0%;"><strong>Friendly troops</strong><br />Type: Light infantry</div>`)[0];
            popup_762ae53f50714133bae31c9177e6be17.setContent(html_7705024fe8c44f138a86535729f1e47b);
        

        marker_44918d84cbbf436c8dee9256a8556643.bindPopup(popup_762ae53f50714133bae31c9177e6be17)
        ;

        
    
    
            marker_44918d84cbbf436c8dee9256a8556643.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7f07a39f88184fdd941596fb2aea9a07 = L.marker(
                [51.500785, -0.118805],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_da98f46b2a1b4b5eb045393828249244 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_7f07a39f88184fdd941596fb2aea9a07.setIcon(icon_da98f46b2a1b4b5eb045393828249244);
        
    
        var popup_005e22d6d3ed4decb907a9e6f1d3eaa0 = L.popup({"maxWidth": 200});

        
            var html_ebf204ba08c64eabb7af810942b20fcf = $(`<div id="html_ebf204ba08c64eabb7af810942b20fcf" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_005e22d6d3ed4decb907a9e6f1d3eaa0.setContent(html_ebf204ba08c64eabb7af810942b20fcf);
        

        marker_7f07a39f88184fdd941596fb2aea9a07.bindPopup(popup_005e22d6d3ed4decb907a9e6f1d3eaa0)
        ;

        
    
    
            marker_7f07a39f88184fdd941596fb2aea9a07.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8bc9cfc17ddc4e6e81314c69350f035f = L.marker(
                [51.502349, -0.116394],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_2ce09dddd1ce4e60b4d69ed34f8f5f59 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_8bc9cfc17ddc4e6e81314c69350f035f.setIcon(icon_2ce09dddd1ce4e60b4d69ed34f8f5f59);
        
    
        var popup_fca2aa89e7ac4817ac08fdd534211c1e = L.popup({"maxWidth": 200});

        
            var html_87d81a8b87b74866ab2e8d129cf44bc7 = $(`<div id="html_87d81a8b87b74866ab2e8d129cf44bc7" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_fca2aa89e7ac4817ac08fdd534211c1e.setContent(html_87d81a8b87b74866ab2e8d129cf44bc7);
        

        marker_8bc9cfc17ddc4e6e81314c69350f035f.bindPopup(popup_fca2aa89e7ac4817ac08fdd534211c1e)
        ;

        
    
    
            marker_8bc9cfc17ddc4e6e81314c69350f035f.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6fe346b148c84677993f9c03faac8267 = L.marker(
                [51.498493, -0.117331],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_dda997c66a454483908aba535c13fd42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6fe346b148c84677993f9c03faac8267.setIcon(icon_dda997c66a454483908aba535c13fd42);
        
    
        var popup_3a17a802c7ef44d081b5484b2db0c351 = L.popup({"maxWidth": 200});

        
            var html_430c1e1a233c447bbf3620f69bc37fcf = $(`<div id="html_430c1e1a233c447bbf3620f69bc37fcf" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_3a17a802c7ef44d081b5484b2db0c351.setContent(html_430c1e1a233c447bbf3620f69bc37fcf);
        

        marker_6fe346b148c84677993f9c03faac8267.bindPopup(popup_3a17a802c7ef44d081b5484b2db0c351)
        ;

        
    
    
            marker_6fe346b148c84677993f9c03faac8267.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_058f6df06145473d851a277990b672c4 = L.marker(
                [51.496663, -0.108802],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_10c78f827fc84495b153ec457e421d94 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fighter-jet", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_058f6df06145473d851a277990b672c4.setIcon(icon_10c78f827fc84495b153ec457e421d94);
        
    
        var popup_7e955913a86a44238f308a26b6d0545f = L.popup({"maxWidth": 200});

        
            var html_8f3143382add424f8e629c8af3d8d0d4 = $(`<div id="html_8f3143382add424f8e629c8af3d8d0d4" style="width: 100.0%; height: 100.0%;"><strong>Enemy jet</strong><br />Type: Mig-ht BBAD</div>`)[0];
            popup_7e955913a86a44238f308a26b6d0545f.setContent(html_8f3143382add424f8e629c8af3d8d0d4);
        

        marker_058f6df06145473d851a277990b672c4.bindPopup(popup_7e955913a86a44238f308a26b6d0545f)
        ;

        
    
    
            marker_058f6df06145473d851a277990b672c4.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_78d4c4d861554a07a9b146dd2ebeeea9 = L.marker(
                [51.503625, -0.105697],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_e528004598f946a2ba8e346820ce94db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fighter-jet", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_78d4c4d861554a07a9b146dd2ebeeea9.setIcon(icon_e528004598f946a2ba8e346820ce94db);
        
    
        var popup_991367c22d5946a090bf62bb5b05e5e2 = L.popup({"maxWidth": 200});

        
            var html_f95b0cf02a6c4378b7948222641c5b74 = $(`<div id="html_f95b0cf02a6c4378b7948222641c5b74" style="width: 100.0%; height: 100.0%;"><strong>Enemy jet</strong><br />Type: Mig-ht BBAD</div>`)[0];
            popup_991367c22d5946a090bf62bb5b05e5e2.setContent(html_f95b0cf02a6c4378b7948222641c5b74);
        

        marker_78d4c4d861554a07a9b146dd2ebeeea9.bindPopup(popup_991367c22d5946a090bf62bb5b05e5e2)
        ;

        
    
    
            marker_78d4c4d861554a07a9b146dd2ebeeea9.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_33c8284167f64d3f924a7344db724397 = L.marker(
                [51.494361, -0.121365],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_12f726fa575d43d3b5f7610ccbb70f18 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "users", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_33c8284167f64d3f924a7344db724397.setIcon(icon_12f726fa575d43d3b5f7610ccbb70f18);
        
    
        var popup_61d3b7ea75884394b6ad8720ed433a32 = L.popup({"maxWidth": 200});

        
            var html_ec6878390d2242d28c78ca956762d8bb = $(`<div id="html_ec6878390d2242d28c78ca956762d8bb" style="width: 100.0%; height: 100.0%;"><strong>Enemy troops</strong><br />Type: Light infantry</div>`)[0];
            popup_61d3b7ea75884394b6ad8720ed433a32.setContent(html_ec6878390d2242d28c78ca956762d8bb);
        

        marker_33c8284167f64d3f924a7344db724397.bindPopup(popup_61d3b7ea75884394b6ad8720ed433a32)
        ;

        
    
    
            marker_33c8284167f64d3f924a7344db724397.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3422182afe254df383b574bb582d2ca3 = L.marker(
                [51.495117, -0.100385],
                {}
            ).addTo(map_03e5208439aa4d9fa2c4cb304e120b92);
        
    
            var icon_f7a655f9aa4349a2bba7b8e946b89a5b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "users", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3422182afe254df383b574bb582d2ca3.setIcon(icon_f7a655f9aa4349a2bba7b8e946b89a5b);
        
    
        var popup_733be2a047a0455facd0de0cac1091b9 = L.popup({"maxWidth": 200});

        
            var html_c01de94d3fa54eaa8a1bb03916885d4c = $(`<div id="html_c01de94d3fa54eaa8a1bb03916885d4c" style="width: 100.0%; height: 100.0%;"><strong>Enemy troops</strong><br />Type: Light infantry</div>`)[0];
            popup_733be2a047a0455facd0de0cac1091b9.setContent(html_c01de94d3fa54eaa8a1bb03916885d4c);
        

        marker_3422182afe254df383b574bb582d2ca3.bindPopup(popup_733be2a047a0455facd0de0cac1091b9)
        ;

        
    
    
            marker_3422182afe254df383b574bb582d2ca3.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
</script>