<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c76cb3fb123448e791a9444b4cf69b99 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c76cb3fb123448e791a9444b4cf69b99" ></div>
        
</body>
<script>    
    
            var map_c76cb3fb123448e791a9444b4cf69b99 = L.map(
                "map_c76cb3fb123448e791a9444b4cf69b99",
                {
                    center: [51.502124, -0.117457],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0d2f2d2e38704a95a476cf9e64d1ada0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
            var marker_e9086b9f90f548a4be4d56f49aa71cb9 = L.marker(
                [51.5032, -0.12691],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
        var popup_b11c2c23ca5d43eb9045f63c306d5bc7 = L.popup({"maxWidth": 200});

        
            var html_24f97add73394cc88e0037154fad6925 = $(`<div id="html_24f97add73394cc88e0037154fad6925" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_b11c2c23ca5d43eb9045f63c306d5bc7.setContent(html_24f97add73394cc88e0037154fad6925);
        

        marker_e9086b9f90f548a4be4d56f49aa71cb9.bindPopup(popup_b11c2c23ca5d43eb9045f63c306d5bc7)
        ;

        
    
    
            marker_e9086b9f90f548a4be4d56f49aa71cb9.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f75943aa4d0b44ab974e8db2f8c63c76 = L.marker(
                [51.50222, -0.12752],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
        var popup_571169a7db1b4cc3b5bfd44596196b7f = L.popup({"maxWidth": 200});

        
            var html_6966458f30cc4051bb0c03ba4e469965 = $(`<div id="html_6966458f30cc4051bb0c03ba4e469965" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_571169a7db1b4cc3b5bfd44596196b7f.setContent(html_6966458f30cc4051bb0c03ba4e469965);
        

        marker_f75943aa4d0b44ab974e8db2f8c63c76.bindPopup(popup_571169a7db1b4cc3b5bfd44596196b7f)
        ;

        
    
    
            marker_f75943aa4d0b44ab974e8db2f8c63c76.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c937bf5787c14dffb4c97774e9923d17 = L.marker(
                [51.50172, -0.12615],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
        var popup_208ec94f95ab4c3ba89291a6cfe74cff = L.popup({"maxWidth": 200});

        
            var html_067107b2b7dd40ae86edbf0d99c97984 = $(`<div id="html_067107b2b7dd40ae86edbf0d99c97984" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_208ec94f95ab4c3ba89291a6cfe74cff.setContent(html_067107b2b7dd40ae86edbf0d99c97984);
        

        marker_c937bf5787c14dffb4c97774e9923d17.bindPopup(popup_208ec94f95ab4c3ba89291a6cfe74cff)
        ;

        
    
    
            marker_c937bf5787c14dffb4c97774e9923d17.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_baf4c59aa8824110aaac4b4eabd532b9 = L.marker(
                [51.500958, -0.124205],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
        var popup_d11266976d7640a3bdeaa9010de5c33e = L.popup({"maxWidth": 200});

        
            var html_a66f16036aa543f38d5deaa18913ce9e = $(`<div id="html_a66f16036aa543f38d5deaa18913ce9e" style="width: 100.0%; height: 100.0%;"><strong>Friendly jet</strong><br />Type: Typhoon FGR4</div>`)[0];
            popup_d11266976d7640a3bdeaa9010de5c33e.setContent(html_a66f16036aa543f38d5deaa18913ce9e);
        

        marker_baf4c59aa8824110aaac4b4eabd532b9.bindPopup(popup_d11266976d7640a3bdeaa9010de5c33e)
        ;

        
    
    
            marker_baf4c59aa8824110aaac4b4eabd532b9.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ac3b4f599e854d63b5a46795b64cc44a = L.marker(
                [51.506698, -0.122803],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
        var popup_0d4829ecb62b41d2857d535a566fc683 = L.popup({"maxWidth": 200});

        
            var html_663e34c8f9914d6d9a804977825c5501 = $(`<div id="html_663e34c8f9914d6d9a804977825c5501" style="width: 100.0%; height: 100.0%;"><strong>Friendly jet</strong><br />Type: Typhoon FGR4</div>`)[0];
            popup_0d4829ecb62b41d2857d535a566fc683.setContent(html_663e34c8f9914d6d9a804977825c5501);
        

        marker_ac3b4f599e854d63b5a46795b64cc44a.bindPopup(popup_0d4829ecb62b41d2857d535a566fc683)
        ;

        
    
    
            marker_ac3b4f599e854d63b5a46795b64cc44a.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_febff3b8a681431ba9798d76a774d8df = L.marker(
                [51.50325, -0.1334],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
        var popup_922a007ddbff49b2806624a82e2a2ad0 = L.popup({"maxWidth": 200});

        
            var html_4f349a40385c45219f75f34e5e412b1e = $(`<div id="html_4f349a40385c45219f75f34e5e412b1e" style="width: 100.0%; height: 100.0%;"><strong>Friendly troops</strong><br />Type: Light infantry</div>`)[0];
            popup_922a007ddbff49b2806624a82e2a2ad0.setContent(html_4f349a40385c45219f75f34e5e412b1e);
        

        marker_febff3b8a681431ba9798d76a774d8df.bindPopup(popup_922a007ddbff49b2806624a82e2a2ad0)
        ;

        
    
    
            marker_febff3b8a681431ba9798d76a774d8df.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_16f1a7eeff7d44de8973a630fef76bd4 = L.marker(
                [51.500627, -0.12684],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
        var popup_6a471c3243b44b6084d770e194ab329a = L.popup({"maxWidth": 200});

        
            var html_9ea3752dec4041268c5af692829fcfd0 = $(`<div id="html_9ea3752dec4041268c5af692829fcfd0" style="width: 100.0%; height: 100.0%;"><strong>Friendly troops</strong><br />Type: Light infantry</div>`)[0];
            popup_6a471c3243b44b6084d770e194ab329a.setContent(html_9ea3752dec4041268c5af692829fcfd0);
        

        marker_16f1a7eeff7d44de8973a630fef76bd4.bindPopup(popup_6a471c3243b44b6084d770e194ab329a)
        ;

        
    
    
            marker_16f1a7eeff7d44de8973a630fef76bd4.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5b3e56f9a39a43dca8bc1dc2aa88abbf = L.marker(
                [51.500785, -0.118805],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
            var icon_5b751e2325cc410ba1d70b70a40ccf57 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "exclamation-circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5b3e56f9a39a43dca8bc1dc2aa88abbf.setIcon(icon_5b751e2325cc410ba1d70b70a40ccf57);
        
    
        var popup_9e55dac4c62c40f69309f1619e0fe752 = L.popup({"maxWidth": 200});

        
            var html_04d7a09496fb495d9bce0d5c7f100f40 = $(`<div id="html_04d7a09496fb495d9bce0d5c7f100f40" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_9e55dac4c62c40f69309f1619e0fe752.setContent(html_04d7a09496fb495d9bce0d5c7f100f40);
        

        marker_5b3e56f9a39a43dca8bc1dc2aa88abbf.bindPopup(popup_9e55dac4c62c40f69309f1619e0fe752)
        ;

        
    
    
            marker_5b3e56f9a39a43dca8bc1dc2aa88abbf.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b4645b851b834ee0a8ffdf7e1f007c69 = L.marker(
                [51.502349, -0.116394],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
            var icon_4c378e2ef16b492189be14e565002398 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "exclamation-circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_b4645b851b834ee0a8ffdf7e1f007c69.setIcon(icon_4c378e2ef16b492189be14e565002398);
        
    
        var popup_0ed90637a3174961ab4518db45209987 = L.popup({"maxWidth": 200});

        
            var html_3e3dfdf559c84b05bfba8cb0825c1de5 = $(`<div id="html_3e3dfdf559c84b05bfba8cb0825c1de5" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_0ed90637a3174961ab4518db45209987.setContent(html_3e3dfdf559c84b05bfba8cb0825c1de5);
        

        marker_b4645b851b834ee0a8ffdf7e1f007c69.bindPopup(popup_0ed90637a3174961ab4518db45209987)
        ;

        
    
    
            marker_b4645b851b834ee0a8ffdf7e1f007c69.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_37a1729663564426b122d538a2243a68 = L.marker(
                [51.498493, -0.117331],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
            var icon_c9b9398a453f41dd89bc62dac6471660 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "exclamation-circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_37a1729663564426b122d538a2243a68.setIcon(icon_c9b9398a453f41dd89bc62dac6471660);
        
    
        var popup_db5a3d56b2914adb88c9780e2388cfd1 = L.popup({"maxWidth": 200});

        
            var html_3701b8a0d50645c0897676fac2ffef65 = $(`<div id="html_3701b8a0d50645c0897676fac2ffef65" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_db5a3d56b2914adb88c9780e2388cfd1.setContent(html_3701b8a0d50645c0897676fac2ffef65);
        

        marker_37a1729663564426b122d538a2243a68.bindPopup(popup_db5a3d56b2914adb88c9780e2388cfd1)
        ;

        
    
    
            marker_37a1729663564426b122d538a2243a68.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec4fc85617cf4237ae4c7f77764b2fc7 = L.marker(
                [51.496663, -0.108802],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
            var icon_09e93be23d4c4719a8ea822912965a40 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "exclamation-circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ec4fc85617cf4237ae4c7f77764b2fc7.setIcon(icon_09e93be23d4c4719a8ea822912965a40);
        
    
        var popup_45d65a8647a34b788a641aff23bb32cb = L.popup({"maxWidth": 200});

        
            var html_14c071da125b4688921619e044ec2fed = $(`<div id="html_14c071da125b4688921619e044ec2fed" style="width: 100.0%; height: 100.0%;"><strong>Enemy jet</strong><br />Type: Mig-ht BBAD</div>`)[0];
            popup_45d65a8647a34b788a641aff23bb32cb.setContent(html_14c071da125b4688921619e044ec2fed);
        

        marker_ec4fc85617cf4237ae4c7f77764b2fc7.bindPopup(popup_45d65a8647a34b788a641aff23bb32cb)
        ;

        
    
    
            marker_ec4fc85617cf4237ae4c7f77764b2fc7.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1d25277f3fce49b3b3f9226c819c6ea5 = L.marker(
                [51.503625, -0.105697],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
            var icon_d2d1e050acc040de9d19594df999a897 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "exclamation-circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_1d25277f3fce49b3b3f9226c819c6ea5.setIcon(icon_d2d1e050acc040de9d19594df999a897);
        
    
        var popup_b5531c3ef33e4878b2379424e4ad4809 = L.popup({"maxWidth": 200});

        
            var html_1572d57f42de4c11ac8d423ba7e609d6 = $(`<div id="html_1572d57f42de4c11ac8d423ba7e609d6" style="width: 100.0%; height: 100.0%;"><strong>Enemy jet</strong><br />Type: Mig-ht BBAD</div>`)[0];
            popup_b5531c3ef33e4878b2379424e4ad4809.setContent(html_1572d57f42de4c11ac8d423ba7e609d6);
        

        marker_1d25277f3fce49b3b3f9226c819c6ea5.bindPopup(popup_b5531c3ef33e4878b2379424e4ad4809)
        ;

        
    
    
            marker_1d25277f3fce49b3b3f9226c819c6ea5.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_00982397c51b44f2b9f984869c22fd56 = L.marker(
                [51.494361, -0.121365],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
            var icon_70ccd3228ecd48158aea50d4598240b6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "exclamation-circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_00982397c51b44f2b9f984869c22fd56.setIcon(icon_70ccd3228ecd48158aea50d4598240b6);
        
    
        var popup_7c89dee80e594c9c812d83cbf69d36c5 = L.popup({"maxWidth": 200});

        
            var html_8881ad5bdad5413fa90a63363fdb54be = $(`<div id="html_8881ad5bdad5413fa90a63363fdb54be" style="width: 100.0%; height: 100.0%;"><strong>Enemy troops</strong><br />Type: Light infantry</div>`)[0];
            popup_7c89dee80e594c9c812d83cbf69d36c5.setContent(html_8881ad5bdad5413fa90a63363fdb54be);
        

        marker_00982397c51b44f2b9f984869c22fd56.bindPopup(popup_7c89dee80e594c9c812d83cbf69d36c5)
        ;

        
    
    
            marker_00982397c51b44f2b9f984869c22fd56.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aa8a539783784f7f90cf2df4bcb00516 = L.marker(
                [51.495117, -0.100385],
                {}
            ).addTo(map_c76cb3fb123448e791a9444b4cf69b99);
        
    
            var icon_3a441571db674a0d95260fa018c631dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "exclamation-circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_aa8a539783784f7f90cf2df4bcb00516.setIcon(icon_3a441571db674a0d95260fa018c631dd);
        
    
        var popup_5650971f9bf84416b1ed0a228ef35c6b = L.popup({"maxWidth": 200});

        
            var html_ff5fe19a10d649d6b8bb2fc4443c43ad = $(`<div id="html_ff5fe19a10d649d6b8bb2fc4443c43ad" style="width: 100.0%; height: 100.0%;"><strong>Enemy troops</strong><br />Type: Light infantry</div>`)[0];
            popup_5650971f9bf84416b1ed0a228ef35c6b.setContent(html_ff5fe19a10d649d6b8bb2fc4443c43ad);
        

        marker_aa8a539783784f7f90cf2df4bcb00516.bindPopup(popup_5650971f9bf84416b1ed0a228ef35c6b)
        ;

        
    
    
            marker_aa8a539783784f7f90cf2df4bcb00516.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
</script>