<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_83b7a75c1c5a48918f91495f3ebfa451 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_83b7a75c1c5a48918f91495f3ebfa451" ></div>
        
</body>
<script>    
    
            var map_83b7a75c1c5a48918f91495f3ebfa451 = L.map(
                "map_83b7a75c1c5a48918f91495f3ebfa451",
                {
                    center: [51.502124, -0.117457],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_eb2268434ee6434981ad5cd5130a551e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var marker_74553940bfc446babddf76d8e0acf582 = L.marker(
                [51.5032, -0.12691],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_0548604f6d08453b98407d554bad8d78 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_74553940bfc446babddf76d8e0acf582.setIcon(icon_0548604f6d08453b98407d554bad8d78);
        
    
        var popup_e02d7ebf4ac243c4bdb0fd3880052171 = L.popup({"maxWidth": 200});

        
            var html_204287bb75634c29b70f3967abb510da = $(`<div id="html_204287bb75634c29b70f3967abb510da" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_e02d7ebf4ac243c4bdb0fd3880052171.setContent(html_204287bb75634c29b70f3967abb510da);
        

        marker_74553940bfc446babddf76d8e0acf582.bindPopup(popup_e02d7ebf4ac243c4bdb0fd3880052171)
        ;

        
    
    
            marker_74553940bfc446babddf76d8e0acf582.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_34fccc65d16849edadeffb735f6b8cd8 = L.marker(
                [51.50222, -0.12752],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_ffef8563992c437aaea105769a8d1270 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_34fccc65d16849edadeffb735f6b8cd8.setIcon(icon_ffef8563992c437aaea105769a8d1270);
        
    
        var popup_6d690a266bbb4cccbb7be24415e9068c = L.popup({"maxWidth": 200});

        
            var html_27a6eb1fff194d00bcf7191e06b73a2c = $(`<div id="html_27a6eb1fff194d00bcf7191e06b73a2c" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_6d690a266bbb4cccbb7be24415e9068c.setContent(html_27a6eb1fff194d00bcf7191e06b73a2c);
        

        marker_34fccc65d16849edadeffb735f6b8cd8.bindPopup(popup_6d690a266bbb4cccbb7be24415e9068c)
        ;

        
    
    
            marker_34fccc65d16849edadeffb735f6b8cd8.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5c89a9e02dfb47d7bd601e41255a5891 = L.marker(
                [51.50172, -0.12615],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_335e3862388344718f745d8cac4dbf78 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5c89a9e02dfb47d7bd601e41255a5891.setIcon(icon_335e3862388344718f745d8cac4dbf78);
        
    
        var popup_fbf86a238ef14c0dbf909a5a0048ffee = L.popup({"maxWidth": 200});

        
            var html_db55c1abd9e346a49528ff58a7eae405 = $(`<div id="html_db55c1abd9e346a49528ff58a7eae405" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_fbf86a238ef14c0dbf909a5a0048ffee.setContent(html_db55c1abd9e346a49528ff58a7eae405);
        

        marker_5c89a9e02dfb47d7bd601e41255a5891.bindPopup(popup_fbf86a238ef14c0dbf909a5a0048ffee)
        ;

        
    
    
            marker_5c89a9e02dfb47d7bd601e41255a5891.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a3344012029e43b4a3a1d0c2bf6a9df9 = L.marker(
                [51.500958, -0.124205],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_30aec6941a9749cdb8a40e23ff1cafe0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fighter-jet", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a3344012029e43b4a3a1d0c2bf6a9df9.setIcon(icon_30aec6941a9749cdb8a40e23ff1cafe0);
        
    
        var popup_61afbe889aab460296949482d25908a6 = L.popup({"maxWidth": 200});

        
            var html_516e3e3b19da408ebaba80a51d35ded8 = $(`<div id="html_516e3e3b19da408ebaba80a51d35ded8" style="width: 100.0%; height: 100.0%;"><strong>Friendly jet</strong><br />Type: Typhoon FGR4</div>`)[0];
            popup_61afbe889aab460296949482d25908a6.setContent(html_516e3e3b19da408ebaba80a51d35ded8);
        

        marker_a3344012029e43b4a3a1d0c2bf6a9df9.bindPopup(popup_61afbe889aab460296949482d25908a6)
        ;

        
    
    
            marker_a3344012029e43b4a3a1d0c2bf6a9df9.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5fb369057b7d4945a4200d1d2f0446ab = L.marker(
                [51.506698, -0.122803],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_ae3c51df45264575b660f5ec1084ff0e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fighter-jet", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5fb369057b7d4945a4200d1d2f0446ab.setIcon(icon_ae3c51df45264575b660f5ec1084ff0e);
        
    
        var popup_b90579f10a834fa1aae28432e067cad3 = L.popup({"maxWidth": 200});

        
            var html_7441532851fc4d009bcd4366f04b8b73 = $(`<div id="html_7441532851fc4d009bcd4366f04b8b73" style="width: 100.0%; height: 100.0%;"><strong>Friendly jet</strong><br />Type: Typhoon FGR4</div>`)[0];
            popup_b90579f10a834fa1aae28432e067cad3.setContent(html_7441532851fc4d009bcd4366f04b8b73);
        

        marker_5fb369057b7d4945a4200d1d2f0446ab.bindPopup(popup_b90579f10a834fa1aae28432e067cad3)
        ;

        
    
    
            marker_5fb369057b7d4945a4200d1d2f0446ab.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1abe9b39a3414fb6b2e18c1366e8232c = L.marker(
                [51.50325, -0.1334],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_51497caf8dc2428ea9484d3042fd903d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "users", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1abe9b39a3414fb6b2e18c1366e8232c.setIcon(icon_51497caf8dc2428ea9484d3042fd903d);
        
    
        var popup_51a406eeedf649b89b2a4cbfd480aeeb = L.popup({"maxWidth": 200});

        
            var html_a71415680dd042449ce1498bd89a8593 = $(`<div id="html_a71415680dd042449ce1498bd89a8593" style="width: 100.0%; height: 100.0%;"><strong>Friendly troops</strong><br />Type: Light infantry</div>`)[0];
            popup_51a406eeedf649b89b2a4cbfd480aeeb.setContent(html_a71415680dd042449ce1498bd89a8593);
        

        marker_1abe9b39a3414fb6b2e18c1366e8232c.bindPopup(popup_51a406eeedf649b89b2a4cbfd480aeeb)
        ;

        
    
    
            marker_1abe9b39a3414fb6b2e18c1366e8232c.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_90031caf1b2449308ac337a0ffae7bfa = L.marker(
                [51.500627, -0.12684],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_5a34117c893241118ea16dfff0ac7f51 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "users", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_90031caf1b2449308ac337a0ffae7bfa.setIcon(icon_5a34117c893241118ea16dfff0ac7f51);
        
    
        var popup_ffddce87296541d1a6142d3a4efcdff8 = L.popup({"maxWidth": 200});

        
            var html_0bec679f152a45ffb7eea1e99d1a25c5 = $(`<div id="html_0bec679f152a45ffb7eea1e99d1a25c5" style="width: 100.0%; height: 100.0%;"><strong>Friendly troops</strong><br />Type: Light infantry</div>`)[0];
            popup_ffddce87296541d1a6142d3a4efcdff8.setContent(html_0bec679f152a45ffb7eea1e99d1a25c5);
        

        marker_90031caf1b2449308ac337a0ffae7bfa.bindPopup(popup_ffddce87296541d1a6142d3a4efcdff8)
        ;

        
    
    
            marker_90031caf1b2449308ac337a0ffae7bfa.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6133e812c1a54e80a204cf637f4bf756 = L.marker(
                [51.500785, -0.118805],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_1328601bce634e40b585485f0670a787 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6133e812c1a54e80a204cf637f4bf756.setIcon(icon_1328601bce634e40b585485f0670a787);
        
    
        var popup_938ee84d7ef94404a5960d7b9a451538 = L.popup({"maxWidth": 200});

        
            var html_70a8bcdd0bd6454f962df4018a794638 = $(`<div id="html_70a8bcdd0bd6454f962df4018a794638" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_938ee84d7ef94404a5960d7b9a451538.setContent(html_70a8bcdd0bd6454f962df4018a794638);
        

        marker_6133e812c1a54e80a204cf637f4bf756.bindPopup(popup_938ee84d7ef94404a5960d7b9a451538)
        ;

        
    
    
            marker_6133e812c1a54e80a204cf637f4bf756.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_243e05e8efb64c468c42dc75a20b5c0e = L.marker(
                [51.502349, -0.116394],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_d4c1dcef04d84417a7edff27f0b5d113 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_243e05e8efb64c468c42dc75a20b5c0e.setIcon(icon_d4c1dcef04d84417a7edff27f0b5d113);
        
    
        var popup_0a1018f3c64447608dc6c4d574ec4532 = L.popup({"maxWidth": 200});

        
            var html_c36f509ae48d4640bb6d70039366e17c = $(`<div id="html_c36f509ae48d4640bb6d70039366e17c" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_0a1018f3c64447608dc6c4d574ec4532.setContent(html_c36f509ae48d4640bb6d70039366e17c);
        

        marker_243e05e8efb64c468c42dc75a20b5c0e.bindPopup(popup_0a1018f3c64447608dc6c4d574ec4532)
        ;

        
    
    
            marker_243e05e8efb64c468c42dc75a20b5c0e.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c2c98c9e29514da486123c67d3d3d0ab = L.marker(
                [51.498493, -0.117331],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_fab5b88ba0dc44f0b04b59173ac6a744 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c2c98c9e29514da486123c67d3d3d0ab.setIcon(icon_fab5b88ba0dc44f0b04b59173ac6a744);
        
    
        var popup_1f2d1b61b0174238987ef8362b0d0063 = L.popup({"maxWidth": 200});

        
            var html_fab43ae0e6eb4b3a841702483fe87cef = $(`<div id="html_fab43ae0e6eb4b3a841702483fe87cef" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_1f2d1b61b0174238987ef8362b0d0063.setContent(html_fab43ae0e6eb4b3a841702483fe87cef);
        

        marker_c2c98c9e29514da486123c67d3d3d0ab.bindPopup(popup_1f2d1b61b0174238987ef8362b0d0063)
        ;

        
    
    
            marker_c2c98c9e29514da486123c67d3d3d0ab.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4adbfb1eb5264b1a953ffc89191f76d7 = L.marker(
                [51.496663, -0.108802],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_831dfae2c41144129fb7d54acdf66ada = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fighter-jet", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4adbfb1eb5264b1a953ffc89191f76d7.setIcon(icon_831dfae2c41144129fb7d54acdf66ada);
        
    
        var popup_fde42138f1e54fe2aa61d95096de642e = L.popup({"maxWidth": 200});

        
            var html_0e121b15497c42ebb7a16b6becc38554 = $(`<div id="html_0e121b15497c42ebb7a16b6becc38554" style="width: 100.0%; height: 100.0%;"><strong>Enemy jet</strong><br />Type: Mig-ht BBAD</div>`)[0];
            popup_fde42138f1e54fe2aa61d95096de642e.setContent(html_0e121b15497c42ebb7a16b6becc38554);
        

        marker_4adbfb1eb5264b1a953ffc89191f76d7.bindPopup(popup_fde42138f1e54fe2aa61d95096de642e)
        ;

        
    
    
            marker_4adbfb1eb5264b1a953ffc89191f76d7.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_28f04e0fd5f34705948e4b4419d06597 = L.marker(
                [51.503625, -0.105697],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_e56de5f557794bdc890fcb159a3eda0b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fighter-jet", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_28f04e0fd5f34705948e4b4419d06597.setIcon(icon_e56de5f557794bdc890fcb159a3eda0b);
        
    
        var popup_96e03883e7a44a719894c9fcfece269e = L.popup({"maxWidth": 200});

        
            var html_87d28ec7afe143aca37931a60ac53e27 = $(`<div id="html_87d28ec7afe143aca37931a60ac53e27" style="width: 100.0%; height: 100.0%;"><strong>Enemy jet</strong><br />Type: Mig-ht BBAD</div>`)[0];
            popup_96e03883e7a44a719894c9fcfece269e.setContent(html_87d28ec7afe143aca37931a60ac53e27);
        

        marker_28f04e0fd5f34705948e4b4419d06597.bindPopup(popup_96e03883e7a44a719894c9fcfece269e)
        ;

        
    
    
            marker_28f04e0fd5f34705948e4b4419d06597.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f8e56d2919054f7c956089d8ecb5c193 = L.marker(
                [51.494361, -0.121365],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_969863f57bc847b5941dd9c8c1fddd4c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "users", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_f8e56d2919054f7c956089d8ecb5c193.setIcon(icon_969863f57bc847b5941dd9c8c1fddd4c);
        
    
        var popup_3c836c80a382483da55a38eabedbf7ac = L.popup({"maxWidth": 200});

        
            var html_9e184eea35c141a6917c9000524838a6 = $(`<div id="html_9e184eea35c141a6917c9000524838a6" style="width: 100.0%; height: 100.0%;"><strong>Enemy troops</strong><br />Type: Light infantry</div>`)[0];
            popup_3c836c80a382483da55a38eabedbf7ac.setContent(html_9e184eea35c141a6917c9000524838a6);
        

        marker_f8e56d2919054f7c956089d8ecb5c193.bindPopup(popup_3c836c80a382483da55a38eabedbf7ac)
        ;

        
    
    
            marker_f8e56d2919054f7c956089d8ecb5c193.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3b442629b87f4b7d8b22e92f8a910f3f = L.marker(
                [51.495117, -0.100385],
                {}
            ).addTo(map_83b7a75c1c5a48918f91495f3ebfa451);
        
    
            var icon_5d53799ee68a45b8b58bfdf7f4b9ad5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "users", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3b442629b87f4b7d8b22e92f8a910f3f.setIcon(icon_5d53799ee68a45b8b58bfdf7f4b9ad5d);
        
    
        var popup_d42dd35b540e4f5b9844b800a27bb9f8 = L.popup({"maxWidth": 200});

        
            var html_48ed4999c88649148680eee345c7fb5d = $(`<div id="html_48ed4999c88649148680eee345c7fb5d" style="width: 100.0%; height: 100.0%;"><strong>Enemy troops</strong><br />Type: Light infantry</div>`)[0];
            popup_d42dd35b540e4f5b9844b800a27bb9f8.setContent(html_48ed4999c88649148680eee345c7fb5d);
        

        marker_3b442629b87f4b7d8b22e92f8a910f3f.bindPopup(popup_d42dd35b540e4f5b9844b800a27bb9f8)
        ;

        
    
    
            marker_3b442629b87f4b7d8b22e92f8a910f3f.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
</script>